html, body {
  position: relative;
  height: 100%;
}

body {
  background-attachment: fixed !important;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333, endColorstr=#363636);
  background-image: -moz-linear-gradient(center top -90deg, #333, #363636);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#363636));
  font-family: 'Pontano Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}
.login_buttons{
  margin-left: 5px;
}
.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

#navbar .container, #most .container, #random .container, #film .container {
  padding-right: 0px;
  padding-left: 0px;
}

section {
  margin-bottom: 70px;
}

.title {
  margin: 20px 0px;
  text-align: center;
  font-weight: 700;
}

/* NAVBAR */

#navbar, .navbar {
  /*background-color: #9DC8C8 !important;*/
  background-color: transparent !important;
  margin-top: 20px;
}

#navbar ul {
  margin-left: 10px;
}

#navbar li {
  padding: 0px 10px;
}

#navbar li a {
  font-size: 20px;
  color: #fff;
  transition: all 0.2s;
}

#navbar li a:hover {
  color: #9DC8C8;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo_image {
  width: 63px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.circles {
  display: flex;
  position: absolute;
  bottom: 24px;
  left: 3px;
  cursor: pointer;
}

.move-circle1 {
  align-items: center;
  justify-content: center;
  display: flex;
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: -1px;
  margin-right: 2px;
  margin-top: 3px;
}

.move-circle2 {
  align-items: center;
  justify-content: center;
  display: flex;
  animation-name: spin;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.move-circle2 img {
  width: 25px;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.babina {
  align-self: center;
}

.logo_name {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  transition: all 0.2s; 
  margin-right: 5px;
}

.logo_name:hover {
  text-decoration: none;
  color: #9DC8C8;
}

.btn-outline-success {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #fff;
}

#navbar .form-control {
  background-color: transparent;
  border: 1px solid #fff;
  color: #9DC8C8 !important;
  transition: all 0.2s;
}

#navbar .form-control:hover, #navbar .form-control:focus {
  border: 1px solid #9DC8C8;
}

.btn-outline-success:hover {
  color: #333;
  background-color: #9DC8C8;
  border-color: #9DC8C8;
}
.code{

}
#navbar .lang {
  margin-left: 15px;
}

#navbar .lang a {
  color: #fff;
}

#navbar .lang a.active {
  color: #9DC8C8; 
}

#navbar input.search {
  padding-right: 40px;
}

#navbar .search-icon a {
  color: #fff;
}


#navbar .search-icon a:hover {
  color: #9DC8C8;
}

#navbar .search-icon i {
  margin-left: -36px;
  font-size: 20px;
}

/* SWIPER CAROUSEL */

.swiper-container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.swiper-slide input {
  border: 0px;
  cursor: pointer;
  color: transparent;
}

.swiper-slide, .swiper-slide input, .swiper-slide .poster {
  width: 100%;
  height: 250px;
}

.swiper-button-next, .swiper-button-prev {
  top: 45%;
  width: 27px;
  height: 24px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* MOST VIEWED */

#most .container {
  padding-left: 40px;
  padding-right: 40px;
}

#most .col {
  padding-left: 20px;
  padding-right: 20px;
}

#most .film {
  background-color: transparent;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  text-align: left;
}

#most .film img {
  width: 100%;
}

#most .film .about {
  padding-top: 10px;
}

#most .film p {
  margin-bottom: 0px;
  font-size: 14px;
}

#most .film .name {
  font-size: 24px;
  font-weight: 600;
}

/* RANDOM */

#random {
  padding-top: 30px;
}

#random .film {
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

#random .film img {
  width: 100%;
}

#random .about i {
  text-align: center;
  width: 30px;
}

#random .about p {
  margin-bottom: 10px;
}

#random .button, #review .button, #user button, #admin button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#random .btn-outline-primary, #review .btn-outline-primary, #user .btn-outline-primary, #admin .btn-outline-primary {
  border-color: #fff;
  color: #fff;
  transition: all 0.2s;
}

#random .btn-outline-primary:hover, #review .btn-outline-primary:hover, #user .btn-outline-primary:hover, #admin .btn-outline-primary:hover {
  color: #333;
  border-color: #9DC8C8;
  background-color: #9DC8C8;
}

/* CARD WITH REVIEW */

#review textarea {
  margin-bottom: 20px;
}

#review .reviewdelete {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
}

#review .reviewdelete:focus {
  border: 0px;
  box-shadow: none;
}

#review .card {
  color: #000;
  padding: 20px;
  margin-bottom: 20px;
}

.card-title {
    font-size: 25px;
}

.card-title:hover {
    text-decoration: none;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.admin {
    margin: 0 auto;
}

.user_sub {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user_sub a {
    padding-bottom: 35px;
    font-size: 22px;
    color: white;
}

#review .card-block .col {
  padding-left: 0;
  padding-right: 0;
}

#review .card-block .pic {
  height: 100px;
  width: 100px;
  background-size: cover;
  float: left;
  border-radius: 50px;
  margin-right: 20px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

#review .rating { 
  border: none;
  width: 263px;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  margin: 0 auto;
}

.full {
  cursor: pointer;
}

#review .rating > input { display: none; } 
#review .rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

#review .rating > .half:before { 
  content: "\f089";
  position: absolute;
}

#review .rating > label { 
  color: #ddd; 
  float: right; 
}

#review .rating > input:checked ~ label,
#review .rating:not(:checked) > label:hover,
#review .rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

/* FOOTER */

footer {
  text-align: center;
  border: 0px !important;
}

footer .text-muted {
  color: #000 !important;
}

.fade.in {
  opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-backdrop.in {
  opacity: 0.5;
}



/* ADVANCED SEARCH */

#advsearch .year .form-group, #advsearch .year .col-1 {
  float: left;
}

#advsearch .year .col-1 p {
  margin-bottom: 0px;
  margin-top: 42px;
}

#advsearch .genre {
  clear: both;
}

#advsearch .year .select {
  width: 180% !important;
}

#advsearch label {
  font-size: 16px;
  margin-bottom: 10px;
}

#advsearch .button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#advsearch .btn-outline-primary {
  border-color: #fff;
  color: #fff;
  transition: all 0.2s;
}

#advsearch .btn-outline-primary:hover {
  color: #333;
  border-color: #9DC8C8;
  background-color: #9DC8C8;
}



/* FILM PAGE */

#film {
  padding-top: 30px;
}

#film .film {
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}

#film .film img {
  width: 100%;
}

#film .about i {
  text-align: center;
  width: 30px;
}

#film button.add {
  margin-left: 22%;
  margin-top: 25px;
}

#film .about p {
  margin-bottom: 10px;
}

#film .button, #review .button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

#film .btn-outline-primary, #review .btn-outline-primary {
  border-color: #fff;
  color: #fff;
  transition: all 0.2s;
}

#film .btn-outline-primary:hover, #review .btn-outline-primary:hover {
  color: #333;
  border-color: #9DC8C8;
  background-color: #9DC8C8;
}



/* USER */


.result_pic {
  width: 130px;
  height: 200px;
  margin-right: 30px;
  background-size: cover;
}

.result_info {
  margin-left: 50px;
}

.film_name {
  padding-bottom: 15px;
  font-size: 15px;
}

.film_name a {
  font-size: 21px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

.lol {
  display: flex;
  justify-content: center;
}

.search_result {
  width: 100%;
}

.film_result {
  margin: 0 auto;
  background: grey;
  width: 700px;
  padding: 20px 25px;
  margin-bottom: 15px;
}

.rating_number {
    padding-right: 10px;
    font-size: 30px;
}

.show_all {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.film_description {
  font-size: 15px;
  padding-bottom: 15px;
}
.followers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

.head_folowers {
  text-align: center;
  margin-bottom: 50px;
}

.follower {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 120px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0px 70px;
}

.img_folower {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
}

.follower_name {
  text-decoration: none;
  font-size: 20px;
}

#user .userpic {
  width: 300px;
  height: 400px;
  margin-right: 30px;
  background-size: cover;
}

#user .mask {
  width: 300px;
  height: 400px;
  background-color: #000;
  position: absolute;
  opacity: 0;
  transition: all 0.3s; 
}

#user .mask:hover {
  opacity: 0.8;
}

#user .mask input {
  margin-top: 181px;
  margin-left: 50px;
  margin-bottom: 0px;
}

#user span button {

}


/* ADMIN */

#admin .adminpic {
  width: 300px;
  height: 400px;
  margin-right: 30px;
  background-size: cover;
}

#admin .mask {
  width: 300px;
  height: 400px;
  background-color: #000;
  position: absolute;
  opacity: 0;
  transition: all 0.3s; 
}

#admin .mask:hover {
  opacity: 0.8;
}

#admin .mask input {
  margin-top: 181px;
  margin-left: 50px;
  margin-bottom: 0px;
}

/* ADMIN OPTIONS */

#adminoptions button {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}



/* MODAL WINDOWS */

.modal-header {
  border-bottom: 0px;
}

.modal-header .close {
  float: right;
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
  color: #fff;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}

.modal-footer {
  border-top: 0px;
  margin: 0 auto;
}

.modal-footer .btn {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  transition: all 0.2s;
}

.modal-footer .btn:hover {
  color: #333;
  border-color: #9DC8C8;
  background-color: #9DC8C8;
}

.modal-content {
  text-align: center;
  background-attachment: fixed !important;
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333, endColorstr=#363636);
  background-image: -moz-linear-gradient(center top -90deg, #333, #363636);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#363636));
  font-size: 14px;
  color: #fff;
}

.modal-content input {
  border-radius: 0px;
}

.modal-content a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s;
}

.modal-content a:hover {
  color: #9DC8C8;
}

.modal {
  text-align: center;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-backdrop {
  opacity: 0.9 !important;
}